<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
  </head>
  <body style="text-align: center;
               display: flex;
               flex-direction: column;
               align-items: center;
               font-family: 'Open Sans', sans-serif;
               font-size:0.7;
               background-color: #f7f7f7;
               max-width: 500px;
               width: 500px;">
  <div style="width: 100%; height: auto; background-color: #680F00; max-width: 500px;
               width: 500px; margin: 0 auto"><img src="cid:logo" style="height: 50px"/></div>
      <img style="height: 200px; width: 100%;
               max-width: 500px; margin: 0 auto" src="cid:cross"/>
      <h1 style="text-align: center; margin: 50px">Ihre Bestellübersicht</h1>
        <h3 style="text-align: center; color: #000; margin: 10px">Ihr Code:</h3>
      <div style="padding: 10px 70px; margin: 0 auto; margin-bottom: 40px; border: 4px solid #ff9900; background-color: #ff9900; border-radius: 50px; display: flex; justify-content: center; align-items: center; width: 50px; color: white"><h2>{{code}}</h2></div>
      <h3 style="text-align: center; color: #000; margin: 10px">Ihre gewählte Bäckerei:</h3>
      <div style="padding: 10px 70px; margin: 0 auto; margin-bottom: 40px; border: 4px solid #ff9900; background-color: #ff9900; border-radius: 50px; color: white; display: flex; justify-content: center; align-items: center; width: 50px"><h2>Bergstraße 128, 2931Bremen</h2></div>
      <h3 style="text-align: center; color: #000; margin: 10px">Ihre gewählte Uhrzeit:</h3>
      <div style="padding: 10px 70px; margin: 0 auto; margin-bottom: 40px; border: 4px solid #ff9900; background-color: #ff9900; border-radius: 50px; color: white; display: flex; justify-content: center; align-items: center; width: 50px"><h2>{{time}}</h2></div>
      <h3 style="text-align: center; color: #000; margin: 10px">Ihre gewähltes Datum:</h3>
      <div style="padding: 10px 70px; margin: 0 auto; margin-bottom: 40px; border: 4px solid #ff9900; background-color: #ff9900; border-radius: 50px; color: white; display: flex; justify-content: center; align-items: center; width: 50px"><h2>{{date}}</h2></div>
      <h3 style="text-align: center; color: #000; margin: 10px">Ihre Bestellung:</h3>
      <div style="padding: 10px 12px; margin: 0 auto; margin-bottom: 40px; border: 4px solid #ff9900; background-color: #ff9900; border-radius: 50px; color: white; width: 170px">
          <div class="buns" style="text-align: left; float: left">
                 {{#each cart}}
                <div>
                    <p>
                    {{this}}
                    </p>
                </div>
                {{/each}}
            </div>
            <div class="bun-amount" style="text-align: right">
                {{#each amount}}
                <div>
                    <p>
                    {{this}}
                    </p>
                </div>
                {{/each}}
            </div>
      </div>
      <span style="display: flex; margin: 0 auto; justify-content: center; align-items: center"><p>2019&nbsp;</p><a href="https://brotritter.de" style="color: #ff9900">Brotritter.de</a></div>
  </body>
  </html>