<link rel="stylesheet" href="/stylesheets/profile.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"
    crossorigin="anonymous">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="delete-pop" id="delete-pop"></div>

{{#if login}}
<div class="mobile-popup" id="mobile-popup">
    <div class="mobile-header">
        <div class="comp-logo" OnClick="location.href='/'"></div>
        <h2>{{useracc}} </h2>
        <i class="fas fa-times close" id="mobile-close"></i>
    </div>
    <div class="mobile-content">
        <div class="mobile-menu">
            <div class="break-top"></div>
            <a class="drop drop1" href="/user/aufladen">Guthaben aufladen&nbsp;<i class="fas fa-bolt"></i></a>
            <a class="drop" href="/user/profile">Profil&nbsp;<i class="fas fa-user-circle"></i></a>
            <a class="drop" href="/user/logout">Logout&nbsp;<i class="fas fa-sign-out-alt"></i></a>
        </div>
        <div class="mobile-credit-break"></div>
        <div class="mobile-credit">
            <p>Guthaben: </p>{{credit}}&#8364;
        </div>
    </div>
</div>
{{/if}}

<div class="profileCon">
    <div class="bild">
        <div class="viereck">
            <div class="comp-logo" OnClick="location.href='/'"></div>
            <div class="konto-container">
                {{# if login}}
                <li class="konto">
                    <div class="kholder">
                        <div class="k-container">
                            <div class="konto1" id="credit">{{useracc}} &nbsp;&nbsp;</div><i
                                class="fas fa-angle-up"></i>
                        </div>
                        <div class="k-container">
                            <div class="konto1" id="header"> KONTO &nbsp;</div><i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="dholder">
                        <div class="hrbr"></div>
                        <a class="drop drop1" href="/user/aufladen">Guthaben aufladen&nbsp;<i
                                class="fas fa-credit-card"></i></a>

                        <a class="drop" href="/user/profile">Profil&nbsp;<i class="fas fa-user-circle"></i></a>

                        <a class="drop drop3" href="/user/logout">Logout&nbsp;<i class="fas fa-sign-out-alt"></i></a>
                        <div class="hrbr br1"></div>
                        <div class="credit">
                            <p>Guthaben: </p>{{credit}} &#8364;
                        </div>
                    </div>
                </li>
                <div class="mobile-konto" id="mobile-konto">
                    KONTO
                </div>
                {{/if}}
                <div class="hilfe">
                    <a class="kontakt" title="Kontakt" href="/kontakt"> FEEDBACK </a>
                </div>
            </div>
        </div>
        <div class="brotritter">
            <div class="maenu" title="Brotritter" OnClick="location.href='/'"></div>
        </div>
        <div class="icon">
            <i class="far fa-user" id="user-icon"></i>
            <div class="hrbr"></div>
            <h2>Mein Profil</h2>
        </div>
    </div>

    <div class="balken" title="Info">
        <div class="errors">{{errors}}</div>
        <div class="success">{{success}}</div>
    </div>

    <div class="bestellungen">
        <div class="headers">
            <div class="new" id="new">Aktive Bestellungen</div>

            <div class="old" id="old">Alte Bestellungen</div>
        </div>
        <div class="content">

            <div class="active-orders" id="active-orders">
                {{# if neworders}}
                <form action="/user/profile" method="post" id="checkout-form_{{this.id}}">
                    <input type="hidden" id="order-input" name="order" value="">
                    {{# each neworders}}
                    <div class="order">
                        <div class="datechanger">
                            <h3>Bestellung zum:</h3>
                            <div>
                                <input class="datepicker e-reader activeReader" name="{{this.id}}" size="8"
                                    autocomplete="off" value="{{this.parsedDate}}" readonly type="text">
                                <input class="datepicker" name="datepicker_id" value="{{this.id}}" type="hidden">
                                <button class="change-d btn btn-default btn-primary datebtn" name="datebtn"
                                    type="button"><i class="fa fa-check" aria-hidden="true"></i></button>
                                <button class="fakebtn" type="button"><i class="fa fa-wrench"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="datechanger">
                            <h4>Abholen ab:</h4>
                            <div>
                                <select class="timepicker e-reader activeReader2" name="timepicker{{this.id}}"
                                    id="timereader">
                                    <option value="7:00">7:00</option>
                                    <option value="8:00">8:00</option>
                                    <option value="9:00">9:00</option>
                                    <option value="10:00">10:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="14:00">14:00</option>
                                </select>
                                <input value="{{this.time}}" style="display: none">
                                <button class="change-d btn btn-default btn-primary timebtn" name="timebtn"
                                    type="button"><i class="fa fa-check" aria-hidden="true"></i></button>
                                <button class="fakebtn" type="button"><i class="fa fa-wrench"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Bestellung:</h3>
                            <div>
                                <div class="product-container">
                                    <div class="products">
                                        {{#each this.cart}}
                                        <div class="product">{{this}}</div>
                                        {{/each}}
                                    </div>
                                    <div class="amounts">
                                        {{#each this.amount}}
                                        <div class="amount">{{this}}</div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h3>Bäckerei:</h3>
                            <div>
                                <h4>Haferkamp</h4>
                                <h5 class="address">Woegestraße 13, 28453</h5>
                            </div>
                        </div>
                        <div class="total">
                            <h4>Preis:</h4>
                            <div>{{this.total}}&#8364;</div>
                        </div>
                        <div class="code-holder">
                            <h3>Ihr Code:</h3>
                            <div>{{this.code}}</div>
                        </div>
                    </div>
                    <div class="delete-container">
                        <button id="{{this.id}}" class="delete-order" type="button">Löschen&nbsp;&nbsp;<i
                                class="fas fa-trash-alt"></i></button>
                    </div>
                    <div class="border"></div>
                    {{/each}}
                    <button class="hidden-submit" formaction="/user/delete" id="delete-submit"
                        type="submit">Bestelldatum ändern</button>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button class="hidden-submit" id="h-submit" type="submit">Bestelldatum ändern</button>
                    <button class="hidden-submit" id="timesubmit" type="submit"
                        formaction="/user/changetime">Bestelldatum ändern</button>
                </form>
                {{else}}
                <div class="nothing">
                    <h2>Noch keine Bestellungen</h2>
                </div>
                {{/if}}
            </div>

            <div class="old-orders" id="old-orders">
                <div class="old-container">
                    {{# if oldorders}}
                    {{# each oldorders}}
                    <div class="order">
                        <div class="datechanger">
                            <h3>Bestellt zum:</h3>
                            <div>
                                <input class="e-reader" size="8" autocomplete="off" value="{{this.parsedDate}}" readonly
                                    type="text">
                            </div>
                        </div>
                        <div class="content-box">
                            <h3>Bestellung:</h3>
                            <div>
                                <div class="product-container">
                                    <div class="products">
                                        {{#each this.cart}}
                                        <div class="product">{{this}}</div>
                                        {{/each}}
                                    </div>
                                    <div class="amounts">
                                        {{#each this.amount}}
                                        <div class="amount">{{this}}</div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h3>Bäckerei:</h3>
                            <div>
                                <h4>Haferkamp</h4>
                                <h5 class="address">Woegestraße 13, 28453</h5>
                            </div>
                        </div>
                    </div>
                    <div class="border"></div>
                    {{/each}}
                    {{else}}
                    <div class="nothing">
                        <h2>Noch keine Bestellungen</h2>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div class="changeMail">
        <div OnClick="location.href='/user/changemail'">E-Mail Adresse ändern&nbsp;<i class="fa fa-cog"
                aria-hidden="true"></i></div>
    </div>
</div>

<link rel="stylesheet" type="text/css"
    href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#000000"
                },
                "button": {
                    "background": "#ff9900"
                }
            }
  "content": {
                "message": "Wir verwenden Cookies, um Ihnen den bestmöglichen Service zu gewährleisten. Wenn Sie die Seite weiter nutzen, stimmen Sie der Cookie-Nutzung zu.",
                "dismiss": "Ich stimme zu",
                "link": "Mehr erfahren",
                "href": "https://www.brotritter.de/datenschutz"
            }
        })
    });
</script>

<div class="impress">
    <div class="impresscon">
        <div class="sideopt " OnClick="location.href='/newsletter'">Newsletter bekommen</div>
        <div><a href="/impressum">Impressum</a>&nbsp;/&nbsp;<a href="/datenschutz">Datenschutz</a></div>
        <div class="sideopt" OnClick="location.href='/mitgliedschaft'">Jetzt Partner werden</div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/profile.js"></script>
<script type="text/javascript" src="/javascripts/layout.js"></script>