<link rel="stylesheet" href="/stylesheets/code.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div class="codeCon">
    <div class="bild">
        <div class="headHolder">
            <div class="maenuHolder">
                <div class="maenu" title="Brotritter" OnClick="location.href='/'"></div>
            </div>
            <div class="hilfe">
                <a class="kontakt" title="Kontakt" href="/kontakt"> FEEDBACK </a>
            </div>
        </div>

        <div class="conholder">
            <i class="fas fa-key" id="lockcon"></i>
            <div class="borderline"></div>
            <h1>Bestellübersicht</h1>
        </div>
    </div>

    <div class="balken2">
        <div class="tab" id="tab1">Bestellung</div>
        <div class="tab" id="tab3">Bäckerei</div>
    </div>

    <div class="code-container" id="code-container">
        <div class="order-holder" id="order-holder">
            <div class="border order-border">
                <h1>Bestellung</h1>
                <div class="looper">
                    {{# if array}}
                    <div>
                        {{# each array}}
                        <div class="order">
                            <div>{{this}}</div>
                        </div>
                        {{/each}}
                    </div>
                    <div>
                        {{# each amount}}
                        <div class="amount">
                            <div>{{this}}</div>
                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div>
                        <div class="order">
                            <div>{{string}}</div>
                        </div>
                    </div>
                    <div>
                        <div class="amount">
                            <div>{{amount}}</div>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="hrbr"></div>
                <div class="total">
                    <div>Gesamt:</div> {{total}} Euro
                </div>
                <div class="date">Zum:&nbsp;<b>{{date}}</b></div>
            </div>
        </div>
        <div class="receive-time-holder" id="receive-time-holder">
            <div class="border receive-border">
                <img src="../images/HaferkampSmall.png" class="bakerypic" />
                <h4 class="receive-address">Woegestraße 13</h4>
                <h2>Öffnungszeiten: </h2>
                <div>
                    <h3>Sa - So: &nbsp;</h3>
                    <h3>7:00 - 12:00</h3>
                </div>
                <div class="time2">
                    <h3>Mo - Fr: &nbsp;</h3>
                    <h3>7:00 - 14:00</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" type="text/css"
    href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#000000"
                },
                "button": {
                    "background": "#ff9900"
                }
            }
  "content": {
                "message": "Wir verwenden Cookies, um Ihnen den bestmöglichen Service zu gewährleisten. Wenn Sie die Seite weiter nutzen, stimmen Sie der Cookie-Nutzung zu.",
                "dismiss": "Ich stimme zu",
                "link": "Mehr erfahren",
                "href": "https://www.brotritter.de/datenschutz"
            }
        })
    });
</script>

<div class="impress">
    <div class="impresscon">
        <div class="sideopt " OnClick="location.href='/newsletter'">Newsletter bekommen</div>
        <div class="sideopt hidopt" OnClick="location.href='/newsletter'">Newsletter </div>
        <div><a href="/impressum">Impressum</a>&nbsp;/&nbsp;<a href="/datenschutz">Datenschutz</a></div>
        <div class="sideopt" OnClick="location.href='/mitgliedschaft'">Jetzt Partner werden</div>
        <div class="sideopt hidopt" OnClick="location.href='/mitgliedschaft'">Partnerschaft</div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/code.js"></script>